<!doctype>
<html lang="en" />
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/todolist.css">
</head>

<body>
    <h1>My todolist</h1>
    <div id="app">
        <label>Task description: </label>
        <input v-model="taskDescription" placeholder="Describe what to do">
        <button v-if="isAddButtonVisible()" v-on:click="addItem">Add</button>
        <label v-if="viewDuplicateErrorMessage">A task with the same name already exists</label>
        <ol>
            <todo-item class="todo-item" v-for="item in todoList" v-bind:todo="item" v-bind:key="item.id" v-on:remove-item="remove" v-on:change-item-status="changeStatus">
            </todo-item>
        </ol>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

<script>
    Vue.component('todo-item', {
        props: ['todo'],
        template: `
        <li>
            <label>\✘ {{todo.text}}, status : {{todo.status}}</label>
            <button v-on:click="$emit('change-item-status', todo.text)">Change status</button>
            <button v-on:click="$emit('remove-item', todo.text)">Remove</button>
        </li>
        `
    })

    var app = new Vue({
        el: "#app",
        data: {
            todoList: [],
            taskDescription: '',
            viewDuplicateErrorMessage: false
        },
        created: function () {
            this.todoList = this.getTodoList();
        },
        methods: {
            addItem: function () {
                itemAlreadyExists = this.getExistingElement(this.taskDescription) !== undefined
                if (!itemAlreadyExists) {
                    itemToAdd = { id: this.todoList.length, text: this.taskDescription, status: "Not finished" }
                    this.todoList.push(itemToAdd)
                    this.taskDescription = ''
                }
                this.viewDuplicateErrorMessage = itemAlreadyExists ? true : false
                this.pushChange(itemToAdd)
            },
            remove: function (elementName) {
                itemToFinish = this.getExistingElement(elementName);
                if (itemToFinish) {
                    Vue.delete(this.todoList, this.todoList.indexOf(itemToFinish));
                    this.removeItem(itemToFinish);
                }
            },
            changeStatus: function (elementName) {
                itemToFinish = this.getExistingElement(elementName)
                newValue = ""
                if (itemToFinish.status === "Not finished") {
                    newValue = "Finished"
                }
                else {
                    newValue = "Not finished"
                }
                Vue.set(itemToFinish, 'status', newValue)
                this.pushChange(itemToFinish)
            },
            isAddButtonVisible: function () {
                return this.taskDescription !== "";
            },
            getExistingElement: function (elementName) {
                return this.todoList.find(x => x.text === elementName)
            },
            getTodoList() {
                var vm = this;
                axios.get('http://localhost:8080/lists')
                    .then(function (response) {
                        vm.todoList = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            pushChange(todoListItem) {
                axios.post('http://localhost:8080/lists', {
                    id: todoListItem.id,
                    text: todoListItem.text,
                    status: todoListItem.status
                })
            },
            removeItem(todoListItem) {
                axios.post('http://localhost:8080/lists/remove', {
                    text: todoListItem.text
                })
            }
        }
    })
</script>